html {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    color: rgba(0,0,0,0.87);
    font-size: medium;
}

html, body, main{
    height: 100%;
    width: 100%;
}

header, main {
      padding-left: 240px;
    }

@media only screen and (max-width : 600px) {
    header,footer,main {
        padding-left: 0px;
      }
}
.row {
    margin-bottom: 0px;
}

#map {
    height: 900px;
}

.hamburger_icon {
    margin-top: 8px;
}



